---
layout: default
---

<div class="announcement mb4 mb5-l">
  <p>
    In light of recent updates and recommendations by health officials in Berlin, we have decided to <strong>close the space to all events, effective immediately and through April 13, 2020 at the earliest</strong>, to help protect the community and reduce pressure on the local healthcare system. This decision also applies to event taking place in the Cobot offices, formerly known as our 5th floor.
  </p>
  <a href="/2020/03/12/coup-temporarily-closed/" class="announcement-link">Read more about this here »</a>
</div>

<h1>
  Welcome <span>to co.up Community Event Space</span>
</h1>

<p class="teaser">
  We are a Community Event Space located in Berlin Kreuzberg providing event and workshop spaces for the Berlin tech and creative community.
</p>

<section class="support-section">
  <p>
    co.up provides event and workshop spaces for events in the local tech and creative scene. Most of our events are focused on software development, creative programming and digital design, but people from all fields are welcome.
  </p>
</section>

<section class="support-section">
  <h3 id="meetups">Our Meetups and Events</h3>

  {% include hosted-meetups.html %}

  <p>
    Our community events and meetups will always be free and open to everyone who wants to join. Check out our <a href="events">Events Page</a> for more information.
  </p>
</section>

<section class="support-section">
  <h3 id="meetups">Our Supporters</h3>

  <p>co.up is made possible by the help of companies and individuals who financially support the community space – thank you!</p>

  {% include supporters.html %}

  <p>
    If you want to help us keep co.up alive – you can! <a href="/support-us/">Support us »</a>.
  </p>
</section>
