---
layout: default
---

<h1>
  Welcome <span>to co.up Community Event Space</span>
</h1>

<p class="teaser">
  We are a Community Event Space located in Berlin Kreuzberg providing event and workshop spaces for the Berlin tech and creative community.
</p>

<section class="support-section">
  <p>
    co.up provides event and workshop spaces for events in the local tech and creative scene. Most of our events are focused on software development, creative programming and digital design, but people from all fields are welcome.
  </p>
</section>

<section class="support-section">
  <h3 id="meetups">Our Meetups and Events</h3>

  {% include hosted-meetups.html %}

  <p>
    Our community events and meetups will always be free and open to everyone who wants to join! Check out our <a href="events">Events Page</a> for more information.
  </p>
</section>

<section class="support-section">
  <h3 id="meetups">Our Supporters</h3>

  <p>co.up is made possible by the help of companies and individuals who financially support the community space - thank you!</p>

  {% include supporters.html %}

  <p>
    If you want to help us keep co.up alive – you can! <a href="/support-us/">Support us »</a>.
  </p>
</section>


{% include modal.html %}
