---
layout: default
---
<h1>
  Welcome <span>to co.up Community Space</span>
</h1>

<p class="teaser">
  We are a community space located in Berlin-Kreuzberg, providing event and workshop spaces for the Berlin tech and creative community. We also offer coworking!
</p>

<section class="support-section">
  <p>
    co.up provides event and workshop spaces for events in the local tech and creative scene. Most of our events are focused on software development, creative programming and digital design, but people from all fields are welcome.
  </p>
  <p>
    During the day, we offer <a href="/coworking">coworking</a> on a flex-desk basis in our quiet and well-lit open space, as well as meeting room rentals. Simply drop us a line at hello at co-up dot de!
  </p>
  <a href="https://www.spacebase.com/en/berlin/coworking-space/"><img src="/photos/Badge_Award_for_Excellence 200px.jpg" alt="Coworking Space Berlin" width="200" align="middle"></a>
</section>

<section class="support-section">
  <h3 id="remote-meetups">Temporarily Remote Meetups and Events</h3>
  <p>
    Some of the groups that usually meet at co.up are hosting events online!
  </p>

  {% include hosted-meetups-remote.html %}


  <h3 id="meetups">Our Meetups and Events</h3>

  {% include hosted-meetups.html %}

  <p>
    Our community events and meetups will always be free and open to everyone who wants to join. Check out our <a href="events">Events Page</a> for more information.
  </p>
</section>

<section class="support-section">
  <h3 id="meetups">Our Supporters</h3>

  <p>co.up is made possible by the help of companies and individuals who financially support the community space – thank you!</p>

  {% include supporters.html %}

  <p>
    If you want to help us keep co.up going – you can! <a href="/support-us/">Support us »</a>.
  </p>
</section>

<section class="support-section">
<a href="https://www.spacebase.com/en/berlin/coworking-space/><img align="middle" src="/photos/Badge_Award_for_Excellence 400px.jpg" alt="Coworking Space Berlin" width="300px"></a>
</section>
