<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }} | co.up Community</title>
  <meta name="author" content="co.up Community Event Space" />

  <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128" />
  <link href="http://co-up.de/atom.xml" rel="alternate" title="Blog Feed" type="application/atom+xml" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="co.up needs your help!">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="co.up Community Event Space">
  <meta property="og:description" content="The rent is rising and without your help we'll be forced to close the space. That means no more free event space for community members or organizations. We need your support—help #saveCoUp!">
  <meta property="og:image" content="https://co-up.de/images/save-coup-og.png">
  <meta property="og:url" content="https://co-up.de/support-us/">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://co-up.de/support-us/">
  <meta property="twitter:title" content="co.up needs your help!">
  <meta property="twitter:description" content="The rent is rising and without your help we'll be forced to close the space. That means no more free event space for community members or organizations. We need your support—help #saveCoUp!">
  <meta property="twitter:image" content="https://co-up.de/images/save-coup-og.png">

  <link rel="stylesheet" href="/css/styles.css">

  <script type="text/javascript">

   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-5552704-3']);
   _gaq.push(['_trackPageview']);

   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();

  </script>
</head>
