<head>
  {% assign post_excerpt = page.content | markdownify | strip_html | truncatewords: 50 %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }} | {{ site.name }} </title>
  <meta name="author" content="{{page.author}}" />
  <meta name="description" content="{% if page.description | size > 1%}{{ page.description }}{% elsif post_excerpt | size > 1 %}{{post_excerpt}}{% else %}{{site.description}}{%endif%}">

  <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196" />
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="/favicon-128.png" sizes="128x128" />
  <link href="http://co-up.de/atom.xml" rel="alternate" title="Blog Feed" type="application/atom+xml" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:description" content="{% if page.description | size > 1%}{{ page.description }}{% elsif post_excerpt | size > 1 %}{{post_excerpt}}{% else %}{{site.description}}{%endif%}">
  <meta property="og:image" content="{{ page.image  | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:site" content="{{site.twitter.username}}">

  <link rel="stylesheet" href="/css/styles.css">

  <script type="text/javascript">

   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-5552704-3']);
   _gaq.push(['_trackPageview']);

   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();

  </script>
</head>
