<div class="header">
  <div class="container">
    <div class="header__logo">
      <a href="/" title="Home">
        {% include logo-svg.html %}
      </a>
    </div>

    <nav id="navigation" class="navigation clearfix">
      <a href="/about" title="About">About</a>
      <a href="/blog" title="Blog">Blog</a>
      <a href="/code-of-conduct" title="Code of Conduct">Code of Conduct</a>
      <a href="/coworking" title="Coworking">Coworking</a>
      <a href="/events" title="Events">Events</a>
      <a href="/hygiene-safety-guidelines" title="Hygiene Guidelines">Hygiene Guidelines</a>
      <a href="/rent-office" title="Rent Office">Rent Office</a>
      <a href="/rent-space" title="Rent Space">Rent Space</a>
      <a href="/support-us" title="Support Us">Support Us</a>
      
    </nav>

    <div class="header__info">
      co.up Community
      <br>
      <a href="https://maps.google.com/maps?q=Adalbertstra%C3%9Fe+8,+10999+Berlin,+Germany&hl=en&ie=UTF8&sll=52.500459,13.418976&sspn=0.030096,0.055189&hnear=Adalbertstra%C3%9Fe+8,+10999+Berlin,+Germany&t=m&z=16" class="grey_link">
        Adalbertstraße 8,
        10999 Berlin
        <br>
      </a>
      <a href="/contact" class="grey_link" title="See details on our contact page">&raquo; Contact us</a>
    </div>

  </div>
</div>
