<div class="hosted-meetups hosted-meetups--remote">
  <a class="meetup" href="https://www.meetup.com/creativeCodeBerlin/" target="_blank">Creative Code Berlin</a>
  <a class="meetup" href="http://berlinminijam.de/" target="_blank">Berlin Mini Jam</a>
  <a class="meetup" href="https://www.opentechschool.org/berlin/" target="_blank">OpenTechSchool - Frontend Co-Learning</a>
  <a class="meetup" href="https://www.opentechschool.org/berlin/" target="_blank">OpenTechSchool - Data Science Co-Learning</a>
  <a class="meetup" href="https://www.opentechschool.org/berlin/" target="_blank">OpenTechSchool - Python &amp; Ruby Co-Learning</a>
  <a class="meetup" href="https://www.opentechschool.org/berlin/" target="_blank">OpenTechSchool - Server-Side Co-Learning</a>
  <a class="meetup" href="http://www.meetup.com/Python-Users-Berlin-PUB/" target="_blank">Python Users Berlin</a>
  <a class="meetup" href="https://techworkersberlin.com/" target="_blank">Berlin Tech Workers Coalition</a>
</div>
