<div class="hosted-meetups">
  <a class="meetup" href="https://www.meetup.com/Angular-Meetup-Berlin/" target="_blank">Angular Berlin</a>
  <a class="meetup" href="https://www.meetup.com/Berlin-Astronomy-Astrophotography-Meetup/" target="_blank">Berlin Astronomy &amp; Astrophotography Meetup</a>
  <a class="meetup" href="https://www.bephpug.de/" target="_blank">BePHPug</a>
  <a class="meetup" href="https://berlinjs.org/" target="_blank">berlin.JS</a>
  <a class="meetup" href="https://www.meetup.com/creativeCodeBerlin/" target="_blank">Creative Code Jam</a>
  <a class="meetup" href="http://berlinminijam.de/" target="_blank">Berlin Mini Jam</a>
  <a class="meetup" href="https://www.meetup.com/creativeCodeBerlin/" target="_blank">Creative Code Stammtisch</a>
  <a class="meetup" href="https://www.meetup.com/Drupal-User-Group-Berlin/" target="_blank">Drupal UG Berlin</a>
  <a class="meetup" href="https://www.opentechschool.org/berlin/" target="_blank">OpenTech School - Frontend Co-Learning</a>
  <a class="meetup" href="https://www.opentechschool.org/berlin/" target="_blank">OpenTech School - Data Science Co-Learning</a>
  <a class="meetup" href="https://www.opentechschool.org/berlin/" target="_blank">OpenTech School - Python &amp; Ruby Co-Learning</a>
  <a class="meetup" href="https://www.opentechschool.org/berlin/" target="_blank">OpenTech School - Server-Side Co-Learning</a>
  <a class="meetup" href="http://www.meetup.com/Python-Users-Berlin-PUB/" target="_blank">Python Users Berlin</a>
  <a class="meetup" href="https://www.meetup.com/Unity-3D-Berlin/" target="_blank">unity3D co-learning</a>
  <a class="meetup" href="https://www.meetup.com/Unity-3D-Berlin/" target="_blank">Swift Co-Learning</a>
  <a class="meetup" href="https://cssclass.es/" target="_blank">CSSclasses</a>
  <a class="meetup" href="https://codecurious.org/" target="_blank">code curious Code &amp; Cake</a>
  <a class="meetup" href="https://www.meetup.com/Panel-Up-Berlins-International-Comics-Meet-Up/" target="_blank">Panel Up</a>
  <a class="meetup" href="https://www.meetup.com/Rust-Berlin/" target="_blank">Rust and Tell Berlin</a>
  <a class="meetup" href="http://up.front.ug/" target="_blank">Upfront.ug</a>
  <a class="meetup" href="https://www.meetup.com/Creative-Coder-Artist-Co-Learning-Berlin/" target="_blank">TouchDesigner Co-learning</a>
  <a class="meetup" href="https://www.meetup.com/FL-Studio-Music-Production-Group/" target="_blank">FL Studio usergroup</a>
</div>
