<div class="modal-backdrop">
  <div class="modal">
    <div class="modal-visual">
      <img src="/images/savecoup-modal.svg" alt="">
    </div>
    <div class="modal-body">
      <h1>co.up needs your help!</h1>
      <p>
        The rent is rising and without your help we’ll be forced to <strong>close the space in January 2020</strong>. That means no more free event space for community meetups. Can you become a co.up supporting member, make a donation, or share your co.up story? We need your support – help <strong>#saveCoUp</strong>!
      </p>
      <p class="mb1 tr">
        <a href="/support-us" class="btn btn-blue btn-round btn-fade-in nowrap">Support co.up now &rarr;</a>
      </p>
    </div>
    <button type="button" name="button" class="modal-close"></button>
  </div>
</div>
