<div class="sidebar">
  <div class="container container--small">
    <!-- <p class="cobot-link">
      co.up is brought to you by <a href="https://cobot.me" title="cobot.me" class="grey_link">Cobot, the best coworking space management software</a>.
      Cobot grew out of the co.up team and out of the need to automate the tasks of a coworking and event space, and have more time for the community and the people in it.
    </p> -->

    {% include newsletter-subscribe.html %}

    <p class="social-media">
      <a href="https://twitter.com/co_up" title="twitter.com/co_up" class="grey_link">Twitter</a>
      |
      <a href="https://www.facebook.com/co.up.community" class="grey_link">Facebook</a>
      |
      <a href="https://www.instagram.com/co_up_de" class="grey_link">Instagram</a>
    </p>
    
    <p>
      <a href="https://www.spacebase.com/en/berlin/coworking-space/"><img src="/photos/Badge_Award_for_Excellence 300px.jpg" alt="Coworking Space Berlin" width="300" align="middle"></a>
    </p>
  </div>
</div>
