<div class="supporters">
  <a class="supporter" href="https://asquera.de/" target="_blank">
    <img src="/images/supporters/supporter-asquera.png" alt="Asquera Logo">
  </a>
  <a class="supporter" href="https://www.bitcrowd.net/" target="_blank">
    <img src="/images/supporters/supporter-bitcrowd.png" alt="Bitcrowd Logo">
  </a>
  <a class="supporter" href="https://www.cobot.me/" target="_blank">
    <img src="/images/supporters/supporter-cobot.png" alt="Cobot Logo">
  </a>
  <a class="supporter" href="https://www.ecosia.org/" target="_blank">
    <img src="/images/supporters/supporter-ecosia.png" alt="Ecosia Logo">
  </a>
  <a class="supporter" href="https://www.evenly.io/" target="_blank">
    <img src="/images/supporters/supporter-evenly.png" alt="Evenly Logo">
  </a>
  <a class="supporter" href="https://www.innoq.com/" target="_blank">
    <img src="/images/supporters/supporter-innoq.png" alt="INNOQ Logo">
  </a>
  <a class="supporter" href="https://neighbourhood.ie/" target="_blank">
    <img src="/images/supporters/supporter-neighbourhoodie.png" alt="Neighbourhoodie Logo">
  </a>
  <!-- <a class="supporter" href="" target="_blank">Mapbox</a>-->
  <a class="supporter" href="https://www.nextjournal.com/" target="_blank">
    <img src="/images/supporters/supporter-nextjournal.png" alt="Nextjournal Logo">
  </a>
</div>
