.body-has-modal {
  overflow: hidden;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(0,0,0,.75);
  padding-top: 4rem;
}

.modal {
  margin: auto;
  position: relative;
  max-width: 36rem;
  h1 {
    font-size: 1.5rem;
  }
}

.modal-body {
  background-color: $color-white;
  padding: 4rem 2rem 2rem 2rem;
  border: .75rem solid $color-orange;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.75);
  z-index: 1;
  opacity: 0;
  transform: scale(0.8);
  animation-name: zoom;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-delay: .25s;
  animation-fill-mode: forwards;
}

.modal-visual {
  position: absolute;
  width: 16rem;
  top: -8rem;
  right: calc(50% - 8rem);
  z-index: 2;
  animation-name: zoom-out;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  img {
    display: block;
    width: 16rem;
  }
}

.modal-close {
  position: absolute;
  top: -.75rem;
  right: -.75rem;
  background-color: $color-orange;
  border: none;
  border-radius: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  transform: scale(1) rotate(45deg);
  cursor: pointer;
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: .25s;
  animation-fill-mode: forwards;
  z-index: 3;
  &:after, &:before {
    position: absolute;
    content: '';
    display: block;
    width: 2px;
    height: 1rem;
    border-radius: 2px;
    top: calc(50% - .5rem);
    right: calc(50% - 1px);
    background-color: $color-white;
  }
  &:after {
    transform: rotate(90deg);
  }
  &:hover, &:focus {
    transform: scale(1.2) rotate(45deg);
  }
}

.btn-fade-in {
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 2.5s;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoom-out {
  0% {
    opacity: 0;
    transform: scale(1.6) translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
