.progress-tracker {
  padding: 3rem 3rem 1rem 3rem;
  border-radius: 1rem;
  border: 1px solid $color-blue;
}

.progress-bar {
  height: 2rem;
  border-radius: 1rem;
  background-color: rgba($color-blue, .1);
  overflow: hidden;
  margin-left: -.25rem;
  margin-right: -.25rem;
}

.progress {
  height: inherit;
  background-color: $color-orange;
  position: relative;
  animation-name: raisingfunds;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.progress-percent {
  position: absolute;
  color: $color-white;
  line-height: 2.25rem;
  font-size: .875rem;
  font-weight: 600;
  left: 90%;
}

.money {
  font-size: 0.8rem;
  color: $color-orange;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.goal {
  color: rgba($color-orange, .75);
  text-align: right;
}

.progress-date {
  padding-top: 2rem;
  color: $color-grey;
  font-style: italic;
  font-size: .75rem;
  text-align: right;
}

.progress-bar--completed {
  .progress {
    background-color: $color-blue;
  }
  .progress-percent {
    left: 87%;
    &:before {
      content: '🎉';
    }
  }
}

.money--completed, .goal--completed {
  color: $color-blue;
}

@keyframes raisingfunds {
   0% { width: 0; }
}
