$color-text: #231F20;
$color-white: #FFFFFF;

$color-bg: #F2F2F0;
$color-bg--light: #f9f9f8;
$color-orange: #E7501E;
$color-coral: #FFE6D8;
$color-maiz: #FFC210;
$color-blue: #0C70FF;

$color-grey: #5c5a5e;
$color-grey--light: #89878a;
